<section id="welcome-section">
    <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <strong>Web Developer.</strong>
        <p class="fst-italic">
            I am a passionate web developer, currently pursuing a B.Sc. in Information Technology from Chetna’s
            Hazarimal Somani College, University of Mumbai. I am dedicated to enhancing my skills and contributing to
            innovative projects, seeking opportunities in forward-thinking organizations. Proficient in both front-end
            and back-end development, I am committed to delivering high-quality and efficient web solutions.
        </p>
    </div><!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-left">
            <div class="col content">
                <div class="row">
                    <div class="col">
                        <ul> 
                            <li><i class="bi bi-chevron-double-right"></i> <strong>Birthday:</strong> <span> 8 March 2003</span>
                            </li>
                            <li><i class="bi bi-chevron-double-right"></i> <strong>Website:</strong>
                                <span> www.example.com</span></li>
                            <li><i class="bi bi-chevron-double-right"></i> <strong>Phone:</strong> <span> +91 8433889446</span>
                            </li>
                            <li><i class="bi bi-chevron-double-right"></i> <strong>City:</strong> <span> Mumbai,Maharashtra,India</span></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><i class="bi bi-chevron-double-right"></i> <strong>Age:</strong> <span> 21</span></li>
                            <li><i class="bi bi-chevron-double-right"></i> <strong>Degree:</strong> <span> B.Sc. in Information
                                    Technology</span></li>
                            <li><i class="bi bi-chevron-double-right"></i><strong>Email:</strong>
                                <span> pawanatendrasingh &#64;gmail.com</span>

                            <li><i class="bi bi-chevron-double-right"></i> <strong> Freelance:</strong> <span> Available</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="py-3">
                    My journey in web development has been fueled by my dedication to learning and growing in the field.
                    I have worked on a variety of projects ranging from responsive social media profile pages to
                    comprehensive online reservation systems. I thrive on creating seamless, user-friendly web
                    applications and am always eager to take on new challenges.
                </p>
            </div>
        </div>
    </div>
</section>