/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  


  
  /* Profile Styles */
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #007bff;
  }
  
  .profile h1 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
  }
  
  .social-links {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .social-links a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  
  /* Sidebar Styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%; /* Full height */
    background-color: #333;
    color: #fff;
    padding: 20px;
    padding-top: 55px;

    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 12;
    transition: left 0.3s ease;
  }
  
  .sidebar.active {
    left: 0; /* Show sidebar */
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-list li {
    margin: 15px 0;
  }
  
  .sidebar-list a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
    width: 100%;
  }
  
  .sidebar-list a i {
    margin-right: 10px;
  }
  
  .sidebar-list a i:hover {
    color: #007bff;
  }
  
  .sidebar-list a:hover,
  .sidebar-list .active {
    color: #007bff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  #main-content {
    margin-left: 250px; /* Make space for the sidebar */
    padding: 20px;
  }
  
  #home-section {
    padding: 20px;
  }
  
  /* Hamburger Menu Styles */
  .hamburger-menu {
    display: none;
    position: fixed;
    top: 0px;
    left: 7px;
    background: none;
    border: none;
    color: #0a0a0a;
    font-size: 24px;
    z-index: 13;
  }
  
  @media (max-width: 768px) {
    .profile {
      
      // margin-top: 20px;
    }
    .sidebar {
      left: -250px; /* Hide sidebar by default on small screens */
      margin-top: 0;
    }
  
    .sidebar.active {
      margin-top: 0;
      left: 0; /* Show sidebar when active */
    }
  
    #main-content {
      margin-left: 0; /* Remove space for the sidebar */
    }
  
    .hero {
      margin-left: 0;
      width: 100%;
    }
  
    .hamburger-menu {
      display: block; /* Show hamburger menu on small screens */
      font-size: 38px;
      color: #ffffff;
    }
  }
  